/*
Source - https://stackoverflow.com/a
Posted by Belhocine Abdelkader, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-02, License - CC BY-SA 4.0
*/

<style>
    * {
        direction: rtl;
    }
</style>
